.App {
  background-color: #83c5be;
  text-align: center;
}

.button {
  background-color: #ef7c8e;
  color: #eee;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

.button:hover {
  background-color: white;
  color: black;
}

/* .App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
